/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

@import url('simplelightbox/dist/simple-lightbox.min.css');

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 30px;
  font-size: 2.5rem;
}

p {
  text-align: center;
  color: #555;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 50px;
}

.menu-item {
  margin: 0 15px;
}

.menu-link {
  text-decoration: none;
  color: #007bff;
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu-link:hover {
  color: #0056b3;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; 
  padding: 20px; 
  max-width: 1200px; 
  margin: 0 auto; 
}
.gallery_item {
  list-style: none; 
}

.gallery_link {
  display: block;
  text-decoration: none;
}

.gallery_image {
  width: 100%; 
  height: auto; 
  display: block; 
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.feedback-form input,
.feedback-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.feedback-form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feedback-form button:hover {
  background-color: #0056b3;
}

a {
  display: inline-block;
  margin-bottom: 20px;
  color: #007bff;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
} 